<body>
  <p class="notice"><%= flash[:notice] %></p>
  <h1>Editing Book</h1>

  <!-- バリテーションの表示 -->
  
  <%= form_with model:@book, url:"/books/#{@book.id}", local:true do |f| %>

  <label>Title</label>
  <%= f.text_field :title %>

  <label>Body</label>
  <%= f.text_area :body %>

  <%= f.submit 'Create Book' %>
  <% end %>

</body>